<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeHandlers>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="BIT"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="INTEGER"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="BIGINT"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="DOUBLE"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="NUMERIC"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTypeHandler" javaType="java.util.Optional" jdbcType="VARCHAR"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalTimestampTypeHandler" javaType="java.util.Optional" jdbcType="TIMESTAMP"/>
    <typeHandler handler="com.tierline.mybatis.typehandler.OptionalDateTypeHandler" javaType="java.util.Optional" jdbcType="DATE"/>
  </typeHandlers>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="com/tierline/mybatis/integration/TestEntityMapper.xml"/>
  </mappers>
</configuration>
